<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264908104423-d8ivu5o0vq0sl7hrg6k4l6q01hkqdbto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264908104423-d8ivu5o0vq0sl7hrg6k4l6q01hkqdbto</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>264908104423-ipuqagjfkpe54idk1m0bh6a51cgqeft8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhsPvDkmCU6eZeva9aqeuNE_UUCcNFsL8</string>
	<key>GCM_SENDER_ID</key>
	<string>264908104423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kbcQuizApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kbc-quiz-app-7badf</string>
	<key>STORAGE_BUCKET</key>
	<string>kbc-quiz-app-7badf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264908104423:ios:37e15808907a1ce583f842</string>
</dict>
</plist>